<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RaSpRef.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net configSource="log4net.config" />
  <applicationSettings>
    <RaSpRef.Properties.Settings>
      <setting name="IASProxyUri" serializeAs="String">
        <value />
      </setting>
      <setting name="RKMod" serializeAs="String">
        <value>a97a2de0e66ea6147c9ee745ac0162686c7192099afc4b3f040fad6de093511d74e802f510d716038157dcaf84f4104bd3fed7e6b8f99c8817fd1ff5b9b864296c3d81fa8f1b729e02d21d72ffee4ced725efe74bea68fbc4d4244286fcdd4bf64406a439a15bcb4cf67754489c423972b4a80df5c2e7c5bc2dbaf2d42bb7b244f7c95bf92c75d3b33fc5410678a89589d1083da3acc459f2704cd99598c275e7c1878e00757e5bdb4e840226c11c0a17ff79c80b15c1ddb5af21cc2417061fbd2a2da819ed3b72b7efaa3bfebe2805c9b8ac19aa346512d484cfc81941e15f55881cc127e8f7aa12300cd5afb5742fa1d20cb467a5beb1c666cf76a368978b5</value>
      </setting>
      <setting name="RKExp" serializeAs="String">
        <value>010001</value>
      </setting>
      <setting name="SPUri" serializeAs="String">
        <value>http://localhost:25711/</value>
      </setting>
      <setting name="IASUri" serializeAs="String">
        <value>https://test-as.sgx.trustedservices.intel.com:443</value>
      </setting>
      <setting name="LoggingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoggingExceptionDetails" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogFileName" serializeAs="String">
        <value>logs\RaSpRef.log</value>
      </setting>
      <setting name="UseIAS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LinkableQuotes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IASCertSubject" serializeAs="String">
        <value>ssg-drd-bce-sgx-sp.amr.corp.intel.com</value>
      </setting>
      <setting name="SPID" serializeAs="String">
        <value>362C7EB9137D4412dFF96D2B8AF7F53F</value>
      </setting>
    </RaSpRef.Properties.Settings>
  </applicationSettings>
</configuration>
