<?xml version="1.0"?>
<log4net>
  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <threshold value="ALL" />
    <file type="log4net.Util.PatternString" value="%property{LogFileName}" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level: [ %logger ] - %message%newline" />
      <header type="log4net.Util.PatternString" value="%property{HeaderRule}%newline%property{HeaderProductName} (%property{HeaderSimpleName})%newline  Version: %property{HeaderVersion}%newline  Copyright: %property{HeaderCopyright}%newline  Framework: %property{HeaderFrameworkName}%newline  Command Line Arguments: %property{HeaderArgs}%newline%property{HeaderParameters}%property{HeaderRule}%newline" />
      <footer type="log4net.Util.PatternString" value="%property{FooterRule}%newline" />
    </layout>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <threshold value="DEBUG" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message%newline" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="FileAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>
